.container {
  width: 800px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.modal-btn {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  box-shadow: 5px 5px 0 0 black;
  margin-top: 20px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: rgb(149, 188, 242);
}

.add-entry {
  box-shadow: 3px 3px 0 0 black;
  border: solid 1px black;
  float: right;
}

select,
textarea {
  border: 1.5px solid black;
}

select {
  margin-bottom: 15px;
  margin-right: 8px;
  padding: 5px;
}

textarea {
  margin-bottom: 15px;
  resize: none;
  width: 420px;
}

form {
  background-color: red;
  width: 50%;
  margin: 0 auto;
  z-index: 1;
}

.hidden {
  display: none;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

th {
  background-color: gray;
  border-left: 1px solid black;
}

table {
  border: solid black 2px;
  width: 700px;
}

td {
  border: none;
  border-left: 1px solid black;
  width: 5px;
}

td,
th,
table {
  border-collapse: collapse;
  margin: auto;
}

span {
  background-color: rgb(255, 255, 255);
  border: solid 2px black;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

span:hover {
  background-color: grey;
}
